.banner {
    height: 800px;
    width: 1750px;
    background-image: url("./src/assets/images/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    opacity: 40%;
}
