.textSpeciality:hover {
    opacity: 100 !important;
    cursor: pointer;
}

.cardSpeciality {
    background-color: var(--bg-cards-color);
}

@media screen and (min-width: 480px) and (max-width: 759px){
    .cardSpeciality {
        @apply m-2;
    }
}
