.btnBack button {
    display: none;
}

@media screen and (min-width: 480px) {
    .btnBack {
        transition: all .45s ease-in-out;
        position: fixed;
        bottom: 0;
        right: 0;
        display: inline-flex;

        cursor: pointer;
        align-items: center;
        justify-content: center;
        margin: 0 1em 3em 0;
        border-radius: 50%;
    }

    .btnBack button {
        display: flex;
        border-radius: 50% !important;
        padding: 0!important;
        width: 40px;
        height: 40px;
    }
}


