.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 100px;
}

.navbar ol {
    display: flex;
    padding-right: 80px;
}

.navbar ol li {
    margin-right: 20px;
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s;
}

.navbar ol li:hover {
    color: #CCABD8;
}

.logo {
    margin-left: 110px;
}
